/* Reset some default browser styles */
body, h1, h2, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: rgb(192, 192, 192); /* Lavender background color */
  margin: 20px; /* Add some margin for better spacing */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #4CAF50;
  color: #fff;
}

td {
  background-color: #fff;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 8px;
}

audio {
  width: 100%;
}

/* Add more styles as needed */
